<div id='contentWrapper'>


<div class='row'>

<div class='column-6'>
<h1 class='titles'> About me </h1>
<p class='aboutPara'>Thanks for stopping by! My Name is Ladd. I am a JavaScript Web developer utilizing the MEAN stack. I love learning and solving problems. BBQ's are good too.
</p>
</div> <!-- end of column-6 -->


<div class='column-6'>
<h1 class='titles'>Technical Skills</h1>
<ul class='skills clearfix'>
	<li> Javascript </li>
	<li> HTML5 </li>
	<li> CSS </li>
	<li> Angular </li>
	<li> Node.js </li>
	<li> MongoDB </li>
	<li> Express </li>
	<li> Jquery </li>
	<li> React </li>
	<li> Responsive Design </li>
	<li> Firebase </li>
	<li> Git </li>
</ul>
</div> <!-- end of column-6 -->
</div> <!-- end of row -->
</div> <!-- end of the content wrapper -->