@media only screen and (min-width: 1141px) {

	header, nav, .row, footer, #banner {
		max-width: 1140px;
		margin: 0 auto;

	}

	#banner {
	background-image: url(../images/hero1.2-desktop.jpg);
	background-position: center;
	height: 500px;
	}

	#fotoverse {
	background-image: url(../images/fotoverse-desktop.jpg);
	height: 500px;
}

	nav ul {
		padding-left: 1%;
	}
	nav ul li a {
		transition: background .3s linear;
		padding: .2em 1.5em;
	}

	nav ul li a:hover {
		background-color: rgba(0,0,0,0.4);	
	}

/* Content */

.column-6 {
	float: none;
	margin: 0 auto;
}

}